@model ML.Coordenadas
@{
    ViewBag.Title = "GetAll";
}

<h2>Coordenadas</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<div class="container">
    <div class="row">
        <div style="float:right; margin-bottom:1rem;">
            @Html.ActionLink("+", "Form", "Coordenadas", htmlAttributes: new { @class = "btn btn-success" })
        </div>
        <table class="table table-responsive table-bordered">
            <thead>
                <tr>
                    <td>Editar</td>
                    <td class="hidden">IdCoordenada</td>
                    <td>Estante</td>
                    <td>Sala</td>
                    <td>Librero</td>
                    <td>Posición</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>

                @foreach (ML.Coordenadas coordenadas in Model.CoordenadasList)
                {
                    <tr>
                        <td><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form","Coordenadas",new {IdCoordenada = coordenadas.IdCoordenada})"></a></td>
                        <td class="hidden">@coordenadas.IdCoordenada</td>
                        <td>@coordenadas.Estante</td>
                        <td>@coordenadas.Sala</td>
                        <td>@coordenadas.Librero</td>
                        <td>@coordenadas.Posicion</td>
                        <td><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Coordenadas", new { IdCoordenada= coordenadas.IdCoordenada})" onclick="return confirm('Estas seguro que deseas eliminar el registro?');" ;></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
